@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 103 58 183;
  --color-primary-dark: 94 53 177;
  --color-blue: 0 123 255;
  --color-blue-dark: 0 86 179;
  --color-text: 26 35 126;
}

.text-primary {
  color: rgb(var(--color-primary));
}

.bg-primary {
  background-color: rgb(var(--color-primary));
}

.bg-primary-dark {
  background-color: rgb(var(--color-primary-dark));
}

.bg-blue {
  background-color: rgb(var(--color-blue));
}

.bg-blue-dark {
  background-color: rgb(var(--color-blue-dark));
}
